.std-blue {
    background-color: blue;
}

ul {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 22px;
    color: red;
}

div {
    background-color: lightgreen;
    width: 900px;
    color: black;
}