.navHead {
    background-color: blue;
    padding: 5px;
    color: white;
}

ul {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 22px;
    color: red;
}

.main-div {
    background-color: lightgreen;
    width: 100%;
    height: 100%;
    color: black;
}