.full-page {
    width: 100%;
    margin: auto;
}

.questionClock {
    border-radius: 5px;
    border-width: 2px;
    width: 150px;
    height: 60px;
    text-align: center;
    font-size: 45px;
    padding-left: 18px;
    margin-left: 10px;
}

.halfClock {
  border-radius: 5px;
  border-width: 2px;
  width: 200px;
  height: 60px;
  text-align: center;
  font-size: 45px;
  /* padding-left: 18px; */
  margin-left: 10px;
}