.dropdown {
  margin-left: 5px;
}
.add-form {
  margin-bottom: 40px;
}

.form-control {
  margin: 20px 0;
}

.form-control label {
  display: block;
}

.form-control input {
  width: 100%;
  height: 40px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 17px;
}

.team-name {
  background-color: white;
  width: 100%;
  height: 40px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 20px;
}

.player {
  background-color:white;
  font-size: 14px;
  height: 30px;
  margin: 5px;
  padding: 3px 7px;
}
.player.na {
  border-left: 5px solid white;
}
.player.ic {
  border-left: 5px solid aqua;
}
.player.ii {
  border-left: 5px solid pink;
}
.player.c {
  border-left: 5px solid green;
}
.player.i {
  border-left: 5px solid red;
}

.key {
  border: 2px solid white;
}
