.score-button {
    /* padding: 8px; */
    display: inline-block;
    margin-right: 5px;
    margin-left: 5px;
    width: 50px;
}

.center {
    margin: auto;
}

.teamScore {
    display: inline-block;
    width: 80%;
}

