.score-button {
    /* padding: 8px; */
    display: inline-block;
    margin-right: 5px;
    margin-left: 5px;
    width: 50px;
}

.center {
    margin: auto;
}

.scorebox {
    border-radius: 5px;
    border-width: 2px;
    width: 100px;
    text-align: center;
    padding-left: 18px;
}

.full-page {
    width: 100%;
    margin: auto;
    border-color: black; /* WHY IS THIS NOT SHOWING UP */
    border-width: 10px; /* AND THIS */
}

.float-container {
    border: 3px transparent #fff;
    padding: 20px;
}

.float-child {
    width: 50%;
    float: left;
    padding: 20px;
    border: 2px solid red;
}  